.navbar img {
    width: 1.75rem;
    margin-bottom: 0.15rem;
}

.welcome {
    background: url('/contacts-app/static/img/background.jpg');
    background-position: center center;
    background-size: cover;
}